/* Sets the margin and padding of all elements to 0px, meaning that all elements have a default margin and padding of 0 pixels. */
* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;
}

#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}

#header {
	background-image: url("../img/bg-tile.jpg");
	background-repeat: repeat-x;
	background-color: #171717;
}


#header h1 a {
	background-image: url("../resources/assessment-3.jpg");
	display: block;
	width: 800px;
	height: 140px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#nav {
	background-color: #000;
}

#nav ul {
	list-style-type: none;
	margin-left: 10px;
}

#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}

#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}

#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}

#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}

#content {
	margin: 20px;
}

#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}

.alert {
	background-color: #0000ff;
	color: #ffff00;
}

.hover_element:hover {
	background-color: #ff0000;
}

#content figure {
	float: right;
	margin: 20px;
	border: 2px solid #CCC;
	padding: 4px;
}

#content h2 {
	color:#fae465;
	font-size: larger;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #000000;
}

#content h3 {
	color:#18c9ff;
	font-size: large;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000000;
}

#content h4 {
	color:#1b0cf0;
	font-size: medium;
	font-style: italic;
}

#content blockquote {
	display: block;
	border: 2px solid #CCC;
	padding: 4px;
}

#content blockquote	dl {
	padding: 0 0 0 1rem; 
}

#content cite {
	display: block;
	text-align: right;
}

#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}

#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
