:root {
    --header-spacing-width: 24px;
    --header-spacing-height: 16px;

    --color-soft-black: #111;
}

* {
	margin: 0;
	padding: 0;
}

body {
    height: 100vh
}

img {
    max-width: 100%;
    height: auto;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
    text-align: center;
}

header.primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--header-spacing-width);

    background: #f80;
    background-image: linear-gradient(to right, #f80, #40b);
    height: 10vh;

    & > * {
        margin-top: var(--header-spacing-height);
        margin-bottom: var(--header-spacing-height);
    }

    & h1 {
        margin-left: var(--header-spacing-width);

        & a {
            color: #fff;
            text-shadow: 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000,
                2px 0 0 #000, -2px 0 0 #000,
                2px -2px 0 #000, 0 -2px 0 #000, -2px -2px 0 #000;
            text-decoration: none;
        }
    }

    & nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        gap: var(--header-spacing-width);
        margin-right: var(--header-spacing-width);

        & .list-replacement {
            display: none;
        }
        & .dropdown {
            width: 6em;
        }
    }
}

.button-link {
    padding: 0.75em 1em 0.75em 1em;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-decoration: none;
    border-radius: 0.5em;
    transition: background-color 0.5s ease;
    display: inline-block;

    &:hover {
        background-color: #000;
    }
}

.dropdown {
    position: absolute;
    margin-top: calc(-1.25em + 1px);
    border-radius: 0.5em;

    & .accordion-title, .accordion-tab:before {
        background-color: #000;
        color: #fff;
    }
    .accordion-tab:before {
        top: 5px;
    }
    .accordion-tab > *:not(.accordion-title) {
        background-color: #fff;
        border-radius: 0 0 0.5em 0.5em;
        transition: background-color 0.5s ease;
        padding: 0;
    }
    & li {
        padding: 0.5em;
        margin: 0;

        &:last-child {
            border-radius: 0 0 0.5em 0.5em;
        }
    }
    & li:hover {
        background-color: #e8e8e8;
    }
    & li a {
        color: var(--color-soft-black);
        text-decoration: none;
    }
}

main .button-link {
    margin-top: 0.5em;
}

main {
    display: grid;
    grid-template-columns: 4fr 15fr 4fr;

    & > * {
        height: calc(80vh - 2em);
        padding: 1em;

        &:not(div) {
            overflow-y: scroll;
        }
    }
    & .sidebar {
        background: #f8f8f8;
        background-image: linear-gradient(to bottom, #f8f8f8, #e8e8e8);

        & ol {
            list-style-type: none;

            & li {
                margin-bottom: 1em;

                & a {
                    color: var(--color-soft-black);
                    text-decoration: none;
                }
            }
        }
    }
    & nav.sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    & section {
        grid-column-start: 2;
        grid-column-end: 3;

        & > * {
            margin-top: 1em;
        }
        & h1 {
            margin-bottom: 2em;
        }
    }
    & div.sidebar {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

footer.primary {
    background-color: var(--color-soft-black);
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--header-spacing-width);

    & > * {
        margin-top: var(--header-spacing-height);
        margin-bottom: var(--header-spacing-height);
    }
    & h6, & h6 a {
        color: white;
        font-size: 1em;
    }
    & > *:first-child {
        margin-left: var(--header-spacing-width);
    }
    & > *:last-child {
        margin-right: var(--header-spacing-width);
    }
}

@media screen and (max-width: 64rem) {
/*@media screen and (min-width: 64rem) {*/
    header.primary nav > ul {
        width: 6em;

        & > li {
            display: none;

            &.list-replacement {
                display: inline-block;
            }
        }
    }
}

@media screen and (max-width: 40rem) {
/*@media screen and (min-width: 40rem) {*/
    header.primary {
        height: 15vh;
    }

    main {
        display: block;
    }

    .sidebar {
        display: none;
    }

    footer.primary {
        height: 5vh;
        gap: 0;
        justify-content: space-evenly;
        font-size: calc(1em - (0.5em * ((40rem - 100vw) / 40rem)));

        & .spacer-element {
            display: none;
        }
    }
}