:root {
    --header-spacing-width: 24px;
    --header-spacing-height: 16px;

    --color-soft-black: #111;
    --color-html-orange: #f80;
    --color-css-purple: #40b;
}

* {
	margin: 0;
	padding: 0;
}

/* Adapted from a Codepen by Professor Thomas Wallace */

body {
    display: grid;
    min-height: 100vh;
}

header.primary, footer.primary {
    position: sticky;
}

header.primary {
    top: 0;
}

footer.primary {
    bottom: 0;
}

/******************************************************/

img {
    max-width: 100%;
    height: auto;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.hidden {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
}

header.primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--header-spacing-width);
    z-index: 1;

    background: var(--color-html-orange);
    background-image: linear-gradient(to right, var(--color-html-orange), var(--color-css-purple));
    height: 48px;

    & > * {
        margin-top: var(--header-spacing-height);
        margin-bottom: var(--header-spacing-height);
    }

    & h1 {
        margin-left: var(--header-spacing-width);
        font-size: calc(2em - (1.0em * ((40rem - 100vw) / 40rem)));

        & a {
            color: #fff;
            text-shadow: 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000,
                2px 0 0 #000, -2px 0 0 #000,
                2px -2px 0 #000, 0 -2px 0 #000, -2px -2px 0 #000;
            text-decoration: none;
        }
    }

    & nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        gap: var(--header-spacing-width);
        margin-right: var(--header-spacing-width);
        width: 6em;

        & > li {
            display: none;

            &.list-replacement {
                display: inline-block;
            }
        }
        & .dropdown {
            width: 6em;
        }
    }
}

.button-link {
    padding: 0.75em 1em 0.75em 1em;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-decoration: none;
    border-radius: 0.5em;
    transition: background-color 0.5s ease;
    display: inline-block;

    &:hover {
        background-color: #000;
    }
}

.dropdown {
    position: absolute;
    margin-top: calc(-1.25em + 1px);
    border-radius: 0.5em;

    & .accordion-title, .accordion-tab:before {
        background-color: #000;
        color: #fff;
    }
    .accordion-tab > *:not(.accordion-title) {
        background-color: #fff;
        border-radius: 0 0 0.5em 0.5em;
        transition: background-color 0.5s ease;
        padding: 0;
    }
    & li {
        padding: 0.5em;
        margin: 0;

        &:last-child {
            border-radius: 0 0 0.5em 0.5em;
        }
    }
    & li:hover {
        background-color: #e8e8e8;
    }
    & li a {
        color: var(--color-soft-black);
        text-decoration: none;
    }
}

main .button-link {
    margin-top: 0.5em;
}

figure {
    padding: 0.5em;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    margin: 1em;
    transition: box-shadow 1s ease;

    & figcaption {
        padding-top: 0.5em;

        & a {
            color: var(--color-soft-black)
        }
    }
    &:hover {
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    }
}

.half-size-float-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    min-height: 80vh;

    & > * {
        padding: 1em;
    }
    & .sidebar {
        display: none;
        background: #f8f8f8;
        background-image: linear-gradient(to bottom, #f8f8f8, #e8e8e8);

        & ol {
            list-style-type: none;

            /* Makes the list sticky, it needs the top to be pushed down to its normal position otherwise it falls
            into the header as the page scrolls down. */
            position: sticky;
            top: calc(48px + 1em);

            & li {
                margin-bottom: 1em;

                & a {
                    color: var(--color-soft-black);
                    text-decoration: none;
                }
            }
        }
    }
    & section {
        & > * {
            margin-top: 1em;
        }
        & h1 {
            margin-bottom: 2em;
        }
        & p {
            line-height: 1.5em;
        }
    }
}

.article-group {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    padding: 20px 20px 0px 20px;
    gap: 20px;
    margin-top: 0;
}

article {
    border: 2px, solid, #000;
    border-radius: 5px;

    & .article-title {
        background-color: #000;
        color: #fff;
        text-align: center;
        padding: 0.5em;

        & a {
            color: #fff;
            text-decoration: none;
        }
    }
    .article-content > * {
        margin: 0.5em;
    }
}

code {
    display: inline-block;
    background-color: #e8e8e8;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.25em;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.needs-explanation {
    text-decoration: underline;
    cursor: help;

    &:hover {
        text-decoration: none;
    }
}

footer.primary {
    background-color: var(--color-soft-black);
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    z-index: 1;
    font-size: calc(1em - (0.5em * ((40rem - 100vw) / 40rem)));

    /* Covers a small 1px-2px gap at bottom of screen below sticky footer on some display sizes. */
    box-shadow: 0 2px 0 var(--color-soft-black);

    & > * {
        margin-top: var(--header-spacing-height);
        margin-bottom: var(--header-spacing-height);
    }
    & h6, & h6 a {
        color: white;
        font-size: 1em;
    }
    & > *:first-child {
        margin-left: var(--header-spacing-width);
    }
    & > *:last-child {
        margin-right: var(--header-spacing-width);
    }
    & .spacer-element {
        display: none;
    }
}

@media screen and (min-width: 40rem) {
    main {
        display: grid;
        grid-template-columns: 4fr 15fr 4fr;

        & .sidebar {
            display: block;
        }
        & nav.sidebar {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        & section {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        & div.sidebar {
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
    
    header.primary h1 {
        font-size: 2em;
    }

    footer.primary {
        gap: var(--header-spacing-width);
        justify-content: center;
        font-size: 1em;

        & .spacer-element {
            display: inline-block;
        }
    }

    .article-group {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

@media screen and (min-width: 64rem) {
    header.primary nav > ul {
        width: auto;

        & > li {
            display: inline-block;

            &.list-replacement {
                display: none;
            }
        }
    }

    .article-group {
        grid-template: 1fr / repeat(4, 1fr);
    }

    .half-size-float-right {
        float: right;
        width: 50%;
        margin: 1em;
    }
}

/* Helps to fix an edge-case of a very thin mobile device in landscape mode having too little space for the header and footer. */
@media screen and (min-height: 480px) {
    header.primary {
        height: 10vh;
    }

    main .sidebar ol {
        top: calc(10vh + 1em);
    }

    footer.primary {
        height: 10vh;
    }
}