:root {
  --light-color: #dd6666;
  --medium-color: #924650;
  --dark-color: #553341;
  --darker-color: #302029;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--darker-color);
  transition: background-color 0.25s ease;
  margin: 0;
}

.container {
  width: 80vw;
	max-width: 800px;
	margin: 20px auto;
  padding: 20px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #cccccc;
  border-radius: 10px;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #000000;
  transition: border 0.5s ease, box-shadow 0.5s ease;

  &:hover {
    border: 5px solid var(--light-color);
    box-shadow: 0 0 10px #000000;
  }
}

h1 {
  margin-bottom: 16px;
}

a {
  color: var(--light-color);
  transition: color 0.25s ease, text-shadow 0.25s ease;
  font-weight: bold;

  &:visited {
    color: var(--medium-color);
  }

  &:hover {
    color: var(--dark-color);
    text-shadow: none;
  }

  &:hover:visited {
    color: var(--darker-color);
  }
}

nav > ul {
  padding-left: 0.5em;
}

ul li:not(.accordion) {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.accordion .accordion-tab:focus .accordion-title {
  background-color: var(--light-color);
  color: #000;
}

.viewport-colorizer-widget {
  padding: 0.5em;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  background-color: hsl(calc(256 - ((100vw / 96rem) * 256)), 100%, 50%);
  border: 2px solid #000;
  border-radius: 5px;
  max-width: 24em;
}

@media screen and (max-width: 96rem) {
  :root {
    --light-color: #ddaa66;
    --medium-color: #945f47;
    --dark-color: #553333;
    --darker-color: #302027;
  }
}

@media screen and (max-width: 80rem) {
  :root {
    --light-color: #bdce5f;
    --medium-color: #759246;
    --dark-color: #335533;
    --darker-color: #203029;
  }
}

@media screen and (max-width: 64rem) {
  :root {
    --light-color: #88dd66;
    --medium-color: #5a9446;
    --dark-color: #335533;
    --darker-color: #203020;
  }
}

@media screen and (max-width: 48rem) {
  :root {
    --light-color: #66aedd;
    --medium-color: #476694;
    --dark-color: #333c55;
    --darker-color: #202230;
  }
}

@media screen and (max-width: 40rem) {
  :root {
    --light-color: #d366dd;
    --medium-color: #8b4794;
    --dark-color: #463355;
    --darker-color: #282030;
  }
}