:root {
  --light-color: #dd6666;
  --medium-color: #88444d;
  --dark-color: #553341;
  --darker-color: #302029;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--darker-color);
  transition: background-color 0.25s ease;
  margin: 0;
}

.container {
  width: 80vw;
	max-width: 800px;
	margin: 20px auto;
  padding: 20px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
  border-radius: 10px;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #000000;
  transition: border 0.5s ease, box-shadow 0.5s ease;

  &:hover {
    border: 5px solid var(--light-color);
    box-shadow: 0 0 10px #000000;
  }
}

a {
  color: var(--light-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  transition: color 0.25s ease, text-shadow 0.25s ease;

  &:visited {
    color: var(--medium-color);
  }

  &:hover {
    color: var(--dark-color);
    text-shadow: none;
  }

  &:hover:visited {
    color: var(--darker-color);
  }
}

ul {
  padding-left: 1em;

  & li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 96rem) {
  :root {
    --light-color: #ddaa66;
    --medium-color: #885944;
    --dark-color: #553333;
    --darker-color: #302027;
  }
}

@media screen and (max-width: 80rem) {
  :root {
    --light-color: #cbdd66;
    --medium-color: #6e8844;
    --dark-color: #335533;
    --darker-color: #203029;
  }
}

@media screen and (max-width: 64rem) {
  :root {
    --light-color: #88dd66;
    --medium-color: #558844;
    --dark-color: #335533;
    --darker-color: #203020;
  }
}

@media screen and (max-width: 48rem) {
  :root {
    --light-color: #66aedd;
    --medium-color: #445f88;
    --dark-color: #333c55;
    --darker-color: #202230;
  }
}

@media screen and (max-width: 40rem) {
  :root {
    --light-color: #d366dd;
    --medium-color: #804488;
    --dark-color: #463355;
    --darker-color: #282030;
  }
}